{% extends "base.html" %}
{% block metatitle %}{{ SITENAME }}{% endblock %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<a href="{{ SITEURL }}/{{ article.url }}">
	<article class="post">
		<div class="blog-item-wrap">
			<div class="post-inner-content">
				<header class="entry-header page-header">
					<span class="cat-item"><time datetime="{{ article.date }}">{{ article.locale_date }}</time></span>
					<h1 class="entry-title">{{ article.title }}</h1>
				</header><!-- .entry-header -->
				<div class="entry-content">
					{{ article.content|striptags|truncate(300,false,' ...') }}
	        	</div><!-- .entry-content -->
			</div>
		</div>
	</article><!-- #post-## -->
</a>
{% if not loop.last %}
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
<footer>
{% include "modules/pagination.html" %}
</footer>
<div class="article_meta"></div>
{% endblock %}